PORT=4000
JWT_SECRET=cypr_viam_ultra_secure_jwt_secret_key_2026_x99!
NODE_ENV=development

# SMTP Email Settings (Optional: Leave empty to use Ethereal Auto-Test Mailer)
SMTP_HOST=
SMTP_PORT=587
SMTP_SECURE=false
SMTP_USER=
SMTP_PASS=
SMTP_FROM=no-reply@cypr.com
